/* General Styles */
:root {
	--font-size: 1.3rem;
	--bg-color: #f4f4f4;
	--text-color: #333;
	--header-color: rgb(32, 18, 32);
}

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: var(--font-size);
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 0;
	margin: 0;
}

.logo {
	width: 5em;
	height: 5em;
	flex-shrink: 0;
	min-width: 5em;
}

.shadow {
	box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.motto {
	background-image: url(images/conference3.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	color: aliceblue;
	/* box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3); */
}
/* .withBG {
	background: url(images/flagInline.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 100%;
} */
/* .flag {
	width: 30%;
	height: 6em;
} */

/* .association {
	font-size: 4rem;
} */

/* .mottoBg {
	height: 100%;
	width: 60%;
	float: left;
	flex-shrink: 0;
	background-image: url(images/flagNew.svg);
	background-position: center 60%;
	background-repeat: no-repeat;
	background-size: cover;
} */

.dropdown .show {
	position: absolute;
}
.dropdown-menu {
	max-width: fit-content;
	background-color: #ffffffb0;
}
.dropdown-item.active {
	background-color: #6d6b6b;
}
.dropdown-menu a {
	white-space: nowrap;
}

/* .photo {
	height: 500px;
	float: left;
	padding: 30px;
} */
section {
	margin: 30px;
}

.carouselOuter {
	max-width: 100%;
}

.carousel-inner {
	max-height: 700px; /* Adjust based on your preference */
}

.carousel-item img {
	width: 100%;
	height: 700px;
	object-fit: cover; /* Ensures the image covers the container */
	object-position: center center;
}

/* Responsive Design */
@media (max-width: 599px) {
	/* Mobile */
	.navbar-nav {
		flex-direction: column;
		text-align: center;
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	/*Tablet */
	.flag {
		width: 80%;
	}
	.main {
		max-width: 95%;
		/* margin-inline: auto; */
	}
}

@media (min-width: 960px) and (max-width: 1279px) {
	/* Laptop */
	.flag {
		width: 70%;
		/* min-width: 460px; */
	}
	.main {
		max-width: 90%;
		/* margin-inline: auto; */
	}
}

@media (min-width: 1280px) {
	/*Desktop */
	.flag {
		width: 60%;
		/* min-width: 460px; */
	}
	.main {
		max-width: 80%;
		/* margin-inline: auto; */
	}
}
@media (min-width: 1700px) {
	.carouselOuter {
		max-width: 60%;
	}
}
