/* General Styles */
:root {
	--font-size: 1.3rem;
	/* --bg-color: #f4f4f4; */
	--bg-color: #37b7c3;
	--text-color: #333;
	--footer-color: #088395;
	--font-color: #071952;
	--bs--header-font-color: #071952;
}

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: var(--font-size);
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 0;
	margin: 0;
}
.pangolin-regular {
	font-family: 'Pangolin', cursive;
	font-weight: 400;
	font-style: normal;
}

.logo {
	width: 5em;
	height: 5em;
	flex-shrink: 0;
	min-width: 5em;
}

.shadow {
	box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.motto {
	background-image: url(images/conference3.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	color: aliceblue;
}

/* Custom styles for dropdown menu */
.nav-item .dropdown-menu {
	top: 100%; /* Position the dropdown menu below the button */
	left: -150%; /* Align the dropdown menu to the left */
	right: 0;
	transform: translateY(0); /* Ensure there's no additional offset */
	will-change: transform; /* Optimize performance */
}

/* Ensure dropdown doesn't affect page layout when shown */
.nav-item .dropdown-menu.show {
	display: block;
	position: absolute; /* Absolute positioning within the .nav-item context */
	float: none; /* Disable float */
	min-width: max-content; /* Ensure it doesn’t push other content by auto-sizing */
}
/* .dropdown .show {
	position: absolute;
} */

.dropdown-menu {
	max-width: fit-content;
	background-color: #ffffffb0;
}
.dropdown-item.active {
	background-color: #6d6b6b;
}
.dropdown-menu a {
	white-space: nowrap;
}

section {
	margin: 30px;
}
.color-custom {
	color: var(--font-color) !important;
}
.dark-bg-custom {
	background-color: var(--footer-color);
}
h2::before {
	content: 'm';
	font-family: 'Yarndings 12', system-ui;
	font-weight: 400;
	font-style: normal;
	margin-right: 5px;
	color: red;
}

.carouselOuter {
	max-width: 100%;
}

.carousel-inner {
	max-height: 700px; /* Adjust based on your preference */
}

.carousel-item img {
	width: 100%;
	height: 700px;
	object-fit: cover; /* Ensures the image covers the container */
	object-position: center center;
}

/* Responsive Design */
@media (max-width: 599px) {
	/* Mobile */
	.navbar-nav {
		flex-direction: column;
		text-align: center;
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	/*Tablet */
	.flag {
		width: 80%;
	}
	.main {
		max-width: 95%;
		/* margin-inline: auto; */
	}
}

@media (min-width: 960px) and (max-width: 1279px) {
	/* Laptop */
	.flag {
		width: 70%;
		/* min-width: 460px; */
	}
	.main {
		max-width: 90%;
		/* margin-inline: auto; */
	}
}

@media (min-width: 1280px) {
	/*Desktop */
	.flag {
		width: 60%;
		/* min-width: 460px; */
	}
	.main {
		max-width: 80%;
		/* margin-inline: auto; */
	}
}
@media (min-width: 1700px) {
	.carouselOuter {
		max-width: 60%;
	}
}
